openapi: 3.0.0
info:
  title: Evolution Hub API
  description: API for Evolution Hub, including auth, AI tools, billing, and more.
  version: 1.0.0
servers:
  - url: https://api.hub-evolution.com/v1
    description: Production server
  - url: http://127.0.0.1:8787/v1
    description: Local development server
paths:
  /api/auth/magic/request:
    post:
      summary: Request Magic Link
      description: Request a magic link for login or signup. Returns JSON success or an HTML redirect (progressive enhancement).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                r:
                  type: string
                  description: Optional relative redirect target after auth
                name:
                  type: string
                username:
                  type: string
                locale:
                  type: string
                  enum: [de, en]
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                r:
                  type: string
                name:
                  type: string
                username:
                  type: string
                locale:
                  type: string
                  enum: [de, en]
      responses:
        '200':
          description: Magic link request accepted (JSON)
        '303':
          description: Redirect to localized login page with success hint (HTML navigation)
  /api/auth/callback:
    get:
      summary: Magic Link callback
      description: Verifies the magic link token, creates a session, and redirects to the target route.
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
        - name: email
          in: query
          required: false
          schema:
            type: string
        - name: r
          in: query
          required: false
          schema:
            type: string
      responses:
        '302':
          description: Redirect to target route (localized)
  /api/prompt-enhance:
    post:
      summary: Enhance prompt
      description: Transforms raw text into a structured, AI-ready prompt using the Prompt Enhancer Service. Supports guest and authenticated users with quota management. Feature gated by PUBLIC_PROMPT_ENHANCER_V1.
      tags:
        - AI Tools
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  type: object
                  required:
                    - text
                  properties:
                    text:
                      type: string
                      description: The raw text to enhance into a structured prompt.
                      minLength: 1
                      maxLength: 5000
                options:
                  type: object
                  properties:
                    mode:
                      type: string
                      enum: [agent, concise]
                      default: agent
                      description: Mode for rewriting the prompt ('agent' for step-by-step, 'concise' for shortened version).
                    safety:
                      type: boolean
                      default: true
                      description: Enable safety checks to mask PII (emails, phones, addresses, IDs).
                    includeScores:
                      type: boolean
                      default: false
                      description: Include quality scores (clarity, specificity, testability) in response.
                    outputFormat:
                      type: string
                      enum: [markdown, json]
                      default: markdown
                      description: Output format for the enhanced prompt.
              required:
                - input
      responses:
        '200':
          description: Successful enhancement
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      enhanced:
                        $ref: '#/components/schemas/EnhancedPrompt'
                      safetyReport:
                        $ref: '#/components/schemas/SafetyReport'
                      scores:
                        $ref: '#/components/schemas/Scores'
                        description: Optional quality scores if includeScores=true.
                      usage:
                        $ref: '#/components/schemas/UsageInfo'
                required:
                  - enhanced
                  - safetyReport
                  - usage
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Quota exceeded or feature disabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          description: Rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
              description: Seconds to wait before retry.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /api/ai-image/generate:
    post:
      summary: AI-Bildverbesserung generieren
      description: Startet eine KI-gestützte Bildverbesserung mit verschiedenen Modellen wie Real-ESRGAN oder GFPGAN
      tags:
        - AI-Tools
        - Bildverarbeitung
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - image
                - model
              properties:
                model:
                  type: string
                  description: KI-Modell für die Bildverbesserung
                  enum:
                    - real-esrgan
                    - gfpgan
                    - remini
                  example: "real-esrgan"
                scale:
                  type: integer
                  description: Vergrößerungsfaktor für das Bild
                  enum:
                    - 2
                    - 4
                  default: 2
                  example: 4
                face_enhance:
                  type: boolean
                  description: Gesichtsverbesserung aktivieren (nur bei kompatiblen Modellen)
                  default: false
                  example: true
                image:
                  type: string
                  format: binary
                  description: Bild-Datei im JPEG, PNG oder WebP Format
      responses:
        '200':
          description: Bildverbesserung erfolgreich gestartet
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      jobId:
                        type: string
                        description: Eindeutige Job-ID für die Statusverfolgung
                        example: "job_abc123def456"
                      usage:
                        $ref: '#/components/schemas/UsageInfo'
                      limits:
                        $ref: '#/components/schemas/Limits'
                      entitlements:
                        $ref: '#/components/schemas/Entitlements'
        '400':
          description: Ungültige Anfrage-Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                validation_error:
                  value:
                    success: false
                    error:
                      type: "validation_error"
                      message: "Bilddatei (field 'image') ist erforderlich"
        '401':
          description: Nicht autorisiert oder Nutzungslimit erreicht
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                quota_exceeded:
                  value:
                    success: false
                    error:
                      type: "forbidden"
                      message: "Kostenloses Nutzungslimit erreicht"
        '429':
          description: Rate limit erreicht
          headers:
            Retry-After:
              schema:
                type: integer
              description: Sekunden bis zum nächsten Versuch
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /api/ai-image/usage:
    get:
      summary: Aktuelle Nutzungsstatistik abrufen
      description: Zeigt die aktuelle Nutzung und verbleibende Limits für AI-Bildverbesserungen
      tags:
        - AI-Tools
        - Nutzung
      security:
        - cookieAuth: []
      responses:
        '200':
          description: Nutzungsstatistik erfolgreich abgerufen
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      usage:
                        $ref: '#/components/schemas/UsageInfo'
                      limits:
                        $ref: '#/components/schemas/Limits'
                      resetAt:
                        type: integer
                        format: timestamp
                        description: Zeitstempel für Limit-Reset

  /api/ai-image/jobs:
    get:
      summary: Liste aller AI-Bild Jobs abrufen
      description: Ruft eine paginierte Liste aller AI-Bildverbesserungs-Jobs des Benutzers ab
      tags:
        - AI-Tools
        - Jobs
      security:
        - cookieAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 20
      responses:
        '200':
          description: Job-Liste erfolgreich abgerufen
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      jobs:
                        type: array
                        items:
                          $ref: '#/components/schemas/JobInfo'
                      pagination:
                        $ref: '#/components/schemas/Pagination'

  /api/ai-image/jobs/{id}:
    get:
      summary: Einzelnen Job-Status abrufen
      description: Ruft den detaillierten Status eines spezifischen AI-Bildverbesserungs-Jobs ab
      tags:
        - AI-Tools
        - Jobs
      security:
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Eindeutige Job-ID
          example: "job_abc123def456"
      responses:
        '200':
          description: Job-Status erfolgreich abgerufen
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/JobInfo'
        '404':
          description: Job nicht gefunden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

    post:
      summary: AI-Bild Job abbrechen
      description: Bricht einen laufenden AI-Bildverbesserungs-Job vorzeitig ab
      tags:
        - AI-Tools
        - Jobs
      security:
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Eindeutige Job-ID
          example: "job_abc123def456"
      responses:
        '200':
          description: Job erfolgreich abgebrochen
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      cancelled:
                        type: boolean
                        example: true
        '404':
          description: Job nicht gefunden oder bereits abgeschlossen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /api/billing/credits:
    post:
      summary: Credits-Paket kaufen
      description: Erstellt eine Stripe-Checkout-Session für den Kauf von Credit-Paketen (200 oder 1000 Bilder)
      tags:
        - Billing
        - Credits
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - pack
              properties:
                pack:
                  type: integer
                  description: Anzahl der zu kaufenden Credits
                  enum:
                    - 200
                    - 1000
                  example: 1000
                workspaceId:
                  type: string
                  description: Optionale Workspace-ID für Team-Nutzung
                  example: "ws_abc123def456"
      responses:
        '200':
          description: Checkout-Session erfolgreich erstellt
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      url:
                        type: string
                        description: Stripe-Checkout-URL
                        example: "https://checkout.stripe.com/pay/cs_test_..."
        '400':
          description: Ungültiger Credit-Pack-Wert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                invalid_pack:
                  value:
                    success: false
                    error:
                      type: "validation_error"
                      message: "Ungültiger Credit-Pack-Wert"
                pack_not_configured:
                  value:
                    success: false
                    error:
                      type: "validation_error"
                      message: "Credit-Pack nicht konfiguriert"
        '500':
          description: Stripe nicht konfiguriert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                stripe_not_configured:
                  value:
                    success: false
                    error:
                      type: "server_error"
                      message: "Stripe nicht konfiguriert"

  /api/billing/session:
    post:
      summary: Subscription-Checkout-Session erstellen
      description: Erstellt eine Stripe-Checkout-Session für Abonnement-Pläne (Pro, Premium, Enterprise)
      tags:
        - Billing
        - Subscription
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - plan
                - workspaceId
              properties:
                plan:
                  type: string
                  description: Abonnement-Plan
                  enum:
                    - pro
                    - premium
                    - enterprise
                  example: "premium"
                workspaceId:
                  type: string
                  description: Workspace-ID für das Abonnement
                  example: "ws_abc123def456"
                interval:
                  type: string
                  description: Abrechnungsintervall
                  enum:
                    - monthly
                    - annual
                  default: monthly
                  example: "annual"
                discountCode:
                  type: string
                  description: Optionaler Rabattcode, der auf die Subscription angewendet wird
      responses:
        '200':
          description: Subscription-Checkout erfolgreich erstellt
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      url:
                        type: string
                        description: Stripe-Subscription-Checkout-URL
                        example: "https://checkout.stripe.com/subscriptions/cs_test_..."
        '400':
          description: Ungültige Plan- oder Workspace-Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                validation_error:
                  value:
                    success: false
                    error:
                      type: "validation_error"
                      message: "plan and workspaceId are required"
                unknown_plan:
                  value:
                    success: false
                    error:
                      type: "validation_error"
                      message: "Unknown plan"
        '401':
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Stripe nicht konfiguriert oder interner Fehler
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /api/billing/sync:
    get:
      summary: Billing-Synchronisation nach Checkout
      description: Synchronisiert Billing-Informationen nach erfolgreichem Stripe-Checkout
      tags:
        - Billing
        - Sync
      parameters:
        - name: session_id
          in: query
          required: true
          schema:
            type: string
          description: Stripe-Checkout-Session-ID
          example: "cs_test_abc123def456"
        - name: ws
          in: query
          required: false
          schema:
            type: string
          description: Workspace-ID für Team-Kontext
          example: "ws_abc123def456"
      responses:
        '302':
          description: Weiterleitung nach erfolgreicher Synchronisation
        '400':
          description: Fehlende oder ungültige Session-ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /api/billing/sync-callback:
    post:
      summary: Billing-Status-Callback
      description: Empfängt Billing-Status-Updates von externen Systemen
      tags:
        - Billing
        - Webhook
      parameters:
        - name: session_id
          in: query
          required: true
          schema:
            type: string
          description: Stripe-Checkout-Session-ID
          example: "cs_test_abc123def456"
      responses:
        '200':
          description: Callback erfolgreich verarbeitet
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      synced:
                        type: boolean
                        example: true

  /api/billing/link-pending:
    post:
      summary: Ausstehende Zahlung verknüpfen
      description: Verknüpft ausstehende Zahlungen mit Benutzerkonten
      tags:
        - Billing
        - Payment
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - sessionId
              properties:
                sessionId:
                  type: string
                  description: Stripe-Session-ID der ausstehenden Zahlung
                  example: "cs_test_abc123def456"
      responses:
        '200':
          description: Zahlung erfolgreich verknüpft
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      linked:
                        type: boolean
                        example: true
        '400':
          description: Ungültige Session-ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /api/dashboard/referral-summary:
    get:
      summary: Referral-Zusammenfassung für Dashboard
      description: Liefert Referral-Code, Referral-Link, Statistiken und letzte Referral-Ereignisse für den angemeldeten Benutzer.
      tags:
        - Dashboard
        - Referral
      security:
        - cookieAuth: []
      responses:
        '200':
          description: Referral-Daten erfolgreich geladen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReferralSummaryResponse'
        '401':
          description: Nicht authentifiziert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Serverfehler beim Laden der Referral-Daten
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /api/billing/stripe-webhook:
    post:
      summary: Stripe-Webhook-Endpunkt
      description: Empfängt Webhook-Events von Stripe für Zahlungsstatus-Updates
      tags:
        - Billing
        - Webhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Stripe-Webhook-Event-Payload
      responses:
        '200':
          description: Webhook erfolgreich verarbeitet
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      processed:
                        type: boolean
                        example: true
        '400':
          description: Ungültiger Webhook-Payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  # ... other paths
components:
  schemas:
    EnhancedPrompt:
      type: object
      properties:
        role:
          type: string
          description: Role for the AI agent (e.g., 'You are an expert content creator.').
        objective:
          type: string
          description: Clear objective derived from input text.
        constraints:
          type: string
          description: Constraints for the response (e.g., word limits, PII masking).
        outputFormat:
          type: string
          description: Desired output format (e.g., 'Markdown with sections').
        steps:
          type: array
          items:
            type: string
          description: Optional step-by-step plan for complex prompts.
        fewShotExamples:
          type: array
          items:
            type: string
          description: Optional few-shot examples for guidance.
        rawText:
          type: string
          description: Original input text (safety-cleaned if enabled).
      required:
        - role
        - objective
        - constraints
        - outputFormat
        - rawText
    SafetyReport:
      type: object
      properties:
        masked:
          type: array
          items:
            type: string
          description: List of masked PII strings.
        types:
          type: array
          items:
            type: string
            enum: [email, phone, address, id]
          description: Types of masked PII.
      required:
        - masked
        - types
    Scores:
      type: object
      properties:
        clarity:
          type: number
          minimum: 0
          maximum: 1
          description: Clarity score based on structure completeness.
        specificity:
          type: number
          minimum: 0
          maximum: 1
          description: Specificity score based on keyword density and intent.
        testability:
          type: number
          minimum: 0
          maximum: 1
          description: Testability score based on presence of steps.
      required:
        - clarity
        - specificity
        - testability
    VoiceUsage:
      type: object
      properties:
        used:
          type: integer
          description: Anzahl verarbeiteter Chunks im aktuellen 24h-Fenster.
        limit:
          type: integer
          description: Tageslimit für den aktuellen Nutzer-Typ.
        resetAt:
          type: integer
          format: int64
          nullable: true
          description: Unix-Timestamp (ms) wann das Fenster zurückgesetzt wird.
      required:
        - used
        - limit
    VoiceLimits:
      type: object
      properties:
        user:
          type: integer
          description: Tageslimit für authentifizierte Benutzer
        guest:
          type: integer
          description: Tageslimit für Gäste
      required:
        - user
        - guest

    VoiceStreamState:
      type: object
      properties:
        status:
          type: string
          enum: [active, done, error, not_found]
        partials:
          type: array
          items:
            type: string
        final:
          type: string
          nullable: true
        usage:
          $ref: '#/components/schemas/VoiceUsage'
        jobId:
          type: string
          description: Only present in SSE context.
      required:
        - status
        - partials
    Entitlements:
      type: object
      properties:
        dailyBurstCap:
          type: integer
          description: Tägliches Burst-Limit für den aktuellen Plan
          example: 10
        monthlyImages:
          type: integer
          description: Monatliches Bild-Limit
          example: 100
        maxUpscale:
          type: integer
          description: Maximaler Upscale-Faktor
          example: 4
        faceEnhance:
          type: boolean
          description: Face-Enhancement verfügbar
          example: true
      required:
        - dailyBurstCap
        - monthlyImages
        - maxUpscale
        - faceEnhance
    JobInfo:
      type: object
      properties:
        id:
          type: string
          description: Eindeutige Job-ID
          example: "job_abc123def456"
        status:
          type: string
          enum: [queued, processing, succeeded, failed, canceled]
          description: Aktueller Job-Status
          example: "processing"
        createdAt:
          type: integer
          format: timestamp
          description: Erstellungszeitpunkt
          example: 1699123456789
        updatedAt:
          type: integer
          format: timestamp
          description: Letzte Aktualisierung
          example: 1699123456789
        resultUrl:
          type: string
          description: URL zum verarbeiteten Bild (falls erfolgreich)
          example: "https://r2.example.com/results/job_abc123def456.png"
        error:
          type: string
          description: Fehlermeldung (falls fehlgeschlagen)
          example: "Bild zu groß"
        progress:
          type: number
          minimum: 0
          maximum: 100
          description: Verarbeitungsfortschritt in Prozent
          example: 75.5
        model:
          type: string
          description: Verwendetes AI-Modell
          example: "real-esrgan"
        settings:
          type: object
          properties:
            scale:
              type: integer
              example: 4
            face_enhance:
              type: boolean
              example: true
      required:
        - id
        - status
        - createdAt
        - updatedAt
    Pagination:
      type: object
      properties:
        page:
          type: integer
          description: Aktuelle Seite
          example: 1
        limit:
          type: integer
          description: Elemente pro Seite
          example: 20
        total:
          type: integer
          description: Gesamtanzahl Elemente
          example: 156
        totalPages:
          type: integer
          description: Gesamtanzahl Seiten
          example: 8
        hasNext:
          type: boolean
          description: Nächste Seite verfügbar
          example: true
        hasPrev:
          type: boolean
          description: Vorherige Seite verfügbar
          example: false
      required:
        - page
        - limit
        - total
        - totalPages
        - hasNext
        - hasPrev
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: session