---
import BaseLayout from './BaseLayout.astro';
const { title } = Astro.props;
---
<BaseLayout {title}>
  <head>
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
  </head>
  <div class="flex items-center justify-center min-h-[calc(100vh-189px)]">
    <div class="w-full max-w-md px-8 py-6">
      <slot />
    </div>
  </div>
</BaseLayout>