---
import BaseLayout from './BaseLayout.astro';
const { title } = Astro.props;
---
<BaseLayout {title}>
  <head>
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
  </head>
  <main class="flex items-center justify-center min-h-screen bg-gray-100 dark:bg-gray-900">
    <div class="w-full max-w-md px-8 py-6">
      <slot />
    </div>
  </main>
</BaseLayout>