---
import BaseLayout from './BaseLayout.astro';
const { title } = Astro.props;
---

<BaseLayout {title} hideNewsletter={true} enableAOS={false} enableAnalytics={false}>
  {/* Astro wird dieses Skript korrekt in den HTML-Head der finalen Seite einfügen */}
  <!-- Turnstile-Skript entfernt -->

  {
    /* Dieses Div befindet sich innerhalb des <main>-Elements von BaseLayout.
       'h-full' sorgt dafür, dass es die volle Höhe des <main>-Containers (der durch flex-grow wächst)
       einnimmt und seinen Inhalt korrekt vertikal zentriert. */
  }
  <div class="flex items-center justify-center h-full">
    <div class="w-full max-w-md px-8 py-6">
      <slot />
    </div>
  </div>
</BaseLayout>
